@import url('https://fonts.googleapis.com/css2?family=Istok+Web&family=Yrsa:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: rgb(255, 255, 255);
}

#grid_wrapper {
    display: grid;
    height: 100vh;
    grid-template-columns: 2fr 3fr;
    grid-template-rows: minmax(100px, 1fr) minmax(250px, 2fr) minmax(500px, 3fr) minmax(180px, 2fr);
    grid-template-areas: 
    "he he"
    "s1 s2"
    "s1 s2"
    "fo fo";
    gap: 10px;
}

header {
    grid-area: he;
    background: rgb(255, 255, 255);
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 2px solid black;

}

h1 {
    font-family: 'Yrsa', serif;
    font-size: 3rem;
}

nav {
    background: rgb(255, 255, 255);
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 500px;
}

.links {
    font-family: 'Yrsa', serif;
    color: black;
    text-decoration: none;
    font-size: 1.5rem;
}

.links:hover {
    color: black;
    text-decoration: underline;
}

#section_1 {
    grid-area: s1;
    background: rgb(117, 174, 117);
    padding: 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#news {
    background: white;
    height: 90%;
    width: 90%;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.section_news {
    margin: 10px;
}

#section_2 {
    grid-area: s2;
    background: rgb(117, 174, 117);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#img_meerkats {
    height: 70%;
    width: auto;
    border: 2px solid black;
}

#info_meerkats {
    background: white;
    height: 25%;
    width: 90%;
    border: 2px solid black;
}

.meerkat_head, .meerkat_text {
    margin: 10px;
}

.section_title {
    font-size: 1.5rem;
    font-family: 'Yrsa', serif;
}

.subheader {
    font-family: 'Yrsa', serif;
}

.body_text {
    font-family: 'Istok Web', sans-serif;
}

footer {
    grid-area: fo;
    background: rgb(255, 255, 255);
    border-top: 2px solid black;
}

#days {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 70%;
}

