@import url('https://fonts.googleapis.com/css2?family=Istok+Web&family=Yrsa:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: rgb(255, 255, 255);
}

#grid_wrapper {
    display: grid;
    height: 100vh;
    grid-template-columns: 2fr 2fr 2fr;
    grid-template-rows: minmax(100px, 1fr) minmax(300px, 2fr) minmax(700px, 5fr) minmax(180px, 2fr);
    grid-template-areas: 
    "he he he"
    "s1 s3 s3"
    "s2 s3 s3"
    "fo fo fo";
    gap: 10px;
}

header {
    grid-area: he;
    background: rgb(255, 255, 255);
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 2px solid black;

}

h1 {
    font-family: 'Yrsa', serif;
    font-size: 3rem;
}

nav {
    background: rgb(255, 255, 255);
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 500px;
}

.links {
    font-family: 'Yrsa', serif;
    color: black;
    text-decoration: none;
    font-size: 1.5rem;
}

.links:hover {
    color: black;
    text-decoration: underline;
}

#section_1 {
    grid-area: s1;
    background: rgb(117, 174, 117);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#booking_button {
    background: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 30%;
    border: 2px solid black;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

#booking_button:hover {
    background: rgba(255, 255, 255, 0.582);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 30%;
    border: 2px solid black;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    cursor: pointer;
}

#section_2 {
    grid-area: s2;
    background: rgb(117, 174, 117);
    padding: 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#news {
    background: white;
    height: 90%;
    width: 90%;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 10px;
}

#section_3 {
    grid-area: s3;
    background: rgb(117, 174, 117);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#img_meerkats {
    height: 65%;
    width: auto;
    border: 2px solid black;
}

#info_meerkats {
    background: white;
    height: 25%;
    width: 90%;
    border: 2px solid black;
    padding: 10px;
}

#grid_wrapper_restaurant {
    display: grid;
    height: 100vh;
    grid-template-columns: 1.5fr 2fr 2fr;
    grid-template-rows: minmax(100px, 1fr) minmax(300px, 2fr) minmax(700px, 5fr) minmax(180px, 2fr);
    grid-template-areas: 
    "he he he"
    "s1 s3 s3"
    "s1 s3 s3"
    "fo fo fo";
    gap: 10px;
}

#restaurant_s1 {
    grid-area: s1;
    background: rgb(117, 174, 117);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#rest_text {
    background: white;
    height: 90%;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 10px;
    border: 2px solid black;
}

#restaurant_menu {
    grid-area: s3;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    background: rgb(117, 174, 117);
}

.food_card {
    background: rgb(117, 174, 117);
    height: 430px;
    width: 220px;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

.food_card:hover {
    background: rgb(117, 174, 117);
    height: 430px;
    width: 220px;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.food_img {
    height: auto;
    width: 100%;
    border-bottom: 2px solid black;
    
}

.food_info {
    padding: 5px;
    background: white;
    height: 50.7%;
}

#grid_wrapper_about {
    display: grid;
    height: 100vh;
    grid-template-columns: 2fr 2fr;
    grid-template-rows: minmax(100px, 2fr) minmax(500px, 7fr) minmax(180px, 3fr);
    grid-template-areas: 
    "he he"
    "s1 s2"
    "fo fo";
    gap: 10px;
}

#about_s1 {
    grid-area: s1;
    display: flex;
    justify-content: center;
    align-items: center;
}

#panda_img {
    border: 2px solid black;
}

#about_s2 {
    grid-area: s2;
    background: rgb(117, 174, 117);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#about_text {
    background: white;
    height: 80%;
    width: 85%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 10px;
    border: 2px solid black;
}

footer {
    grid-area: fo;
    background: rgb(255, 255, 255);
    border-top: 2px solid black;
}

#days {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 70%;
}

.section_title {
    font-size: 1.5rem;
    font-family: 'Yrsa', serif;
}

.subheader {
    font-family: 'Yrsa', serif;
}

.body_text {
    font-family: 'Istok Web', sans-serif;
}
